In [2]:
# Day 1 Part 1
with open("day1/input.txt") as f:
    data = f.readlines()
result = 0
for line in data:
    digits = []
    for char in line:
        if char.isdigit():
            digits.append(char)
    first = int(digits[0])
    last = int(digits[len(digits)-1])
    value = (first*10)+(last)
    result += value
print(result)

54390

In [62]:
# Day 1 Part 2
import re
with open("day1/input.txt") as f:
    data = f.readlines()
results = 0
for line in data:
    positions = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[], 6:[], 7:[], 8:[], 9:[]}
    digit_dict = {"zero":0, "one":1, "two":2, "three":3, "four":4, "five":5, "six":6, "seven":7, "eight":8, "nine":9}
    for key in digit_dict:
        matches = [match.start() for match in re.finditer(key, line)]
        if matches != positions[digit_dict[key]]:
            positions[digit_dict[key]] = positions[digit_dict[key]] + matches       
    for char in line:
        if char.isdigit():
            matches = [match.start() for match in re.finditer(char, line)]
            if matches != positions[int(char)]:
                positions[int(char)] = positions[int(char)] + matches         
    updated = {}
    for k, v in positions.items():
        if len(v) > 0:
            updated[k] = list(set(v))
    result = []
    least = {}
    most = {}
    for k, v in updated.items():
        least[min(v)] = k
    for k, v in updated.items():
        most[max(v)] = k    
    updated
    least = least[min(least.keys())]
    most = most[max(most.keys())]    
    value = least*10+most
    results += value
results

54277

In [125]:
# Day 2 Part 1
import pandas as pd
with open("day2/input.txt") as f:
    data = f.readlines()
df = pd.DataFrame(columns=["Id", "Red", "Blue", "Green"])
for line in data:
    id = int(line.split(":")[0].split(" ")[1])
    rounds = line.split(":")[1].split(";")
    max_red = 0
    max_blue = 0
    max_green = 0
    for round in rounds:
        draw = round.split(",")
        for color in draw:
            color_split = color.lstrip().split(" ")
            num_color = int(color_split[0])
            type_color = color_split[1]
            if type_color == "red":
                if num_color > max_red:
                    max_red = num_color
            elif type_color == "green":
                if num_color > max_green:
                    max_green = num_color
            elif type_color == "blue":
                if num_color > max_blue:
                    max_blue = num_color            
    new_df  = pd.DataFrame({"Id": [id], "Red": [max_red], "Blue": [max_blue], "Green": [max_green]})
    print({"Id": [id], "Red": [max_red], "Blue": [max_blue], "Green": [max_green]})
    df = pd.concat([df, new_df])
df = df.reset_index(drop=True)
red_limit = 12
green_limit = 13
blue_limit = 14
red_game_match = df["Red"] <= red_limit
green_game_match = df["Green"] <= green_limit
blue_game_match = df["Blue"] <= blue_limit
print(df[red_game_match & green_game_match & blue_game_match].Id.sum())
df[red_game_match & green_game_match & blue_game_match].Blue.max()
df

{'Id': [1], 'Red': [15], 'Blue': [8], 'Green': [5]}
{'Id': [2], 'Red': [11], 'Blue': [7], 'Green': [8]}
{'Id': [3], 'Red': [11], 'Blue': [9], 'Green': [7]}
{'Id': [4], 'Red': [5], 'Blue': [1], 'Green': [4]}
{'Id': [5], 'Red': [17], 'Blue': [10], 'Green': [8]}
{'Id': [6], 'Red': [13], 'Blue': [8], 'Green': [6]}
{'Id': [7], 'Red': [6], 'Blue': [5], 'Green': [14]}
{'Id': [8], 'Red': [9], 'Blue': [9], 'Green': [3]}
{'Id': [9], 'Red': [8], 'Blue': [8], 'Green': [6]}
{'Id': [10], 'Red': [14], 'Blue': [5], 'Green': [12]}
{'Id': [11], 'Red': [9], 'Blue': [5], 'Green': [7]}
{'Id': [12], 'Red': [10], 'Blue': [12], 'Green': [12]}
{'Id': [13], 'Red': [11], 'Blue': [7], 'Green': [5]}
{'Id': [14], 'Red': [17], 'Blue': [4], 'Green': [6]}
{'Id': [15], 'Red': [4], 'Blue': [7], 'Green': [9]}
{'Id': [16], 'Red': [2], 'Blue': [8], 'Green': [5]}
{'Id': [17], 'Red': [7], 'Blue': [3], 'Green': [5]}
{'Id': [18], 'Red': [8], 'Blue': [11], 'Green': [16]}
{'Id': [19], 'Red': [16], 'Blue': [12], 'Green': [13]}
{'Id': [20], 'Red': [1], 'Blue': [11], 'Green': [9]}
{'Id': [21], 'Red': [4], 'Blue': [4], 'Green': [1]}
{'Id': [22], 'Red': [4], 'Blue': [5], 'Green': [14]}
{'Id': [23], 'Red': [7], 'Blue': [1], 'Green': [10]}
{'Id': [24], 'Red': [2], 'Blue': [5], 'Green': [12]}
{'Id': [25], 'Red': [3], 'Blue': [7], 'Green': [15]}
{'Id': [26], 'Red': [20], 'Blue': [8], 'Green': [4]}
{'Id': [27], 'Red': [3], 'Blue': [3], 'Green': [8]}
{'Id': [28], 'Red': [15], 'Blue': [1], 'Green': [2]}
{'Id': [29], 'Red': [9], 'Blue': [10], 'Green': [8]}
{'Id': [30], 'Red': [15], 'Blue': [9], 'Green': [6]}
{'Id': [31], 'Red': [9], 'Blue': [10], 'Green': [4]}
{'Id': [32], 'Red': [11], 'Blue': [11], 'Green': [14]}
{'Id': [33], 'Red': [15], 'Blue': [16], 'Green': [10]}
{'Id': [34], 'Red': [6], 'Blue': [9], 'Green': [3]}
{'Id': [35], 'Red': [1], 'Blue': [10], 'Green': [13]}
{'Id': [36], 'Red': [12], 'Blue': [17], 'Green': [8]}
{'Id': [37], 'Red': [6], 'Blue': [3], 'Green': [2]}
{'Id': [38], 'Red': [7], 'Blue': [6], 'Green': [19]}
{'Id': [39], 'Red': [3], 'Blue': [15], 'Green': [16]}
{'Id': [40], 'Red': [4], 'Blue': [18], 'Green': [5]}
{'Id': [41], 'Red': [4], 'Blue': [14], 'Green': [14]}
{'Id': [42], 'Red': [10], 'Blue': [16], 'Green': [19]}
{'Id': [43], 'Red': [8], 'Blue': [1], 'Green': [3]}
{'Id': [44], 'Red': [12], 'Blue': [18], 'Green': [5]}
{'Id': [45], 'Red': [3], 'Blue': [3], 'Green': [4]}
{'Id': [46], 'Red': [12], 'Blue': [14], 'Green': [4]}
{'Id': [47], 'Red': [3], 'Blue': [11], 'Green': [10]}
{'Id': [48], 'Red': [18], 'Blue': [8], 'Green': [15]}
{'Id': [49], 'Red': [3], 'Blue': [5], 'Green': [8]}
{'Id': [50], 'Red': [5], 'Blue': [5], 'Green': [7]}
{'Id': [51], 'Red': [3], 'Blue': [13], 'Green': [16]}
{'Id': [52], 'Red': [14], 'Blue': [9], 'Green': [10]}
{'Id': [53], 'Red': [2], 'Blue': [1], 'Green': [4]}
{'Id': [54], 'Red': [1], 'Blue': [12], 'Green': [3]}
{'Id': [55], 'Red': [17], 'Blue': [2], 'Green': [7]}
{'Id': [56], 'Red': [2], 'Blue': [4], 'Green': [5]}
{'Id': [57], 'Red': [14], 'Blue': [1], 'Green': [7]}
{'Id': [58], 'Red': [11], 'Blue': [8], 'Green': [3]}
{'Id': [59], 'Red': [13], 'Blue': [9], 'Green': [12]}
{'Id': [60], 'Red': [3], 'Blue': [8], 'Green': [7]}
{'Id': [61], 'Red': [17], 'Blue': [14], 'Green': [20]}
{'Id': [62], 'Red': [6], 'Blue': [11], 'Green': [16]}
{'Id': [63], 'Red': [20], 'Blue': [3], 'Green': [5]}
{'Id': [64], 'Red': [5], 'Blue': [11], 'Green': [11]}
{'Id': [65], 'Red': [3], 'Blue': [10], 'Green': [13]}
{'Id': [66], 'Red': [6], 'Blue': [7], 'Green': [9]}
{'Id': [67], 'Red': [8], 'Blue': [11], 'Green': [15]}
{'Id': [68], 'Red': [6], 'Blue': [6], 'Green': [10]}
{'Id': [69], 'Red': [5], 'Blue': [6], 'Green': [5]}
{'Id': [70], 'Red': [1], 'Blue': [13], 'Green': [12]}
{'Id': [71], 'Red': [13], 'Blue': [4], 'Green': [12]}
{'Id': [72], 'Red': [3], 'Blue': [14], 'Green': [12]}
{'Id': [73], 'Red': [11], 'Blue': [19], 'Green': [11]}
{'Id': [74], 'Red': [4], 'Blue': [4], 'Green': [4]}
{'Id': [75], 'Red': [1], 'Blue': [5], 'Green': [2]}
{'Id': [76], 'Red': [4], 'Blue': [9], 'Green': [8]}
{'Id': [77], 'Red': [2], 'Blue': [7], 'Green': [18]}
{'Id': [78], 'Red': [6], 'Blue': [3], 'Green': [5]}
{'Id': [79], 'Red': [8], 'Blue': [19], 'Green': [12]}
{'Id': [80], 'Red': [6], 'Blue': [1], 'Green': [10]}
{'Id': [81], 'Red': [4], 'Blue': [14], 'Green': [2]}
{'Id': [82], 'Red': [12], 'Blue': [13], 'Green': [5]}
{'Id': [83], 'Red': [16], 'Blue': [10], 'Green': [14]}
{'Id': [84], 'Red': [9], 'Blue': [16], 'Green': [17]}
{'Id': [85], 'Red': [8], 'Blue': [10], 'Green': [1]}
{'Id': [86], 'Red': [11], 'Blue': [15], 'Green': [6]}
{'Id': [87], 'Red': [5], 'Blue': [2], 'Green': [2]}
{'Id': [88], 'Red': [7], 'Blue': [9], 'Green': [3]}
{'Id': [89], 'Red': [18], 'Blue': [18], 'Green': [2]}
{'Id': [90], 'Red': [2], 'Blue': [4], 'Green': [9]}
{'Id': [91], 'Red': [4], 'Blue': [17], 'Green': [7]}
{'Id': [92], 'Red': [13], 'Blue': [1], 'Green': [9]}
{'Id': [93], 'Red': [12], 'Blue': [15], 'Green': [14]}
{'Id': [94], 'Red': [15], 'Blue': [1], 'Green': [10]}
{'Id': [95], 'Red': [15], 'Blue': [2], 'Green': [3]}
{'Id': [96], 'Red': [16], 'Blue': [8], 'Green': [5]}
{'Id': [97], 'Red': [6], 'Blue': [5], 'Green': [16]}
{'Id': [98], 'Red': [9], 'Blue': [2], 'Green': [12]}
{'Id': [99], 'Red': [11], 'Blue': [6], 'Green': [7]}
{'Id': [100], 'Red': [6], 'Blue': [11], 'Green': [2]}
2619

     Id Red Blue Green
0     1  15    8     5
1     2  11    7     8
2     3  11    9     7
3     4   5    1     4
4     5  17   10     8
..  ...  ..  ...   ...
95   96  16    8     5
96   97   6    5    16
97   98   9    2    12
98   99  11    6     7
99  100   6   11     2

[100 rows x 4 columns]

In [124]:
# Day 2 Part 1
import pandas as pd
with open("day2/input.txt") as f:
    data = f.readlines()
df = pd.DataFrame(columns=["Id", "Red", "Blue", "Green"])
for line in ["Game 2: 8 green, 3 red; 7 blue, 6 red, 8 green; 7 blue, 3 green, 6 red; 8 green, 6 blue, 11 red; 6 blue, 3 green, 12 red"]:
    id = int(line.split(":")[0].split(" ")[1])
    rounds = line.split(":")[1].split(";")
    max_red = 0
    max_blue = 0
    max_green = 0
    for round in rounds:
        draw = round.split(",")
        for color in draw:
            color_split = color.lstrip().split(" ")
            num_color = int(color_split[0])
            type_color = color_split[1]
            if type_color == "red":
                if num_color > max_red:
                    max_red = num_color
            elif type_color == "green":
                if num_color > max_green:
                    max_green = num_color
            elif type_color == "blue":
                if num_color > max_blue:
                    max_blue = num_color            
    new_df  = pd.DataFrame({"Id": [id], "Red": [max_red], "Blue": [max_blue], "Green": [max_green]})
    df = pd.concat([df, new_df])
df = df.reset_index(drop=True)
red_limit = 12
green_limit = 13
blue_limit = 14
red_game_match = df["Red"] <= red_limit
green_game_match = df["Green"] <= green_limit
blue_game_match = df["Blue"] <= blue_limit
print(df[red_game_match & green_game_match & blue_game_match].Id.sum())
df[red_game_match & green_game_match & blue_game_match].Blue.max()
df

2

  Id Red Blue Green
0  2  12    7     8